h1,
h2,
h3,
h4,
big,
span,
p,
small,
li,
a,
pre {
  font-family: "Yu Mincho", "Mrs Eaves", 'MS PGothic', Osaka, Arial, serif, sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
big {
  font-size: 16px;
}
p,
span {
  font-size: 14px;
}
small {
  font-size: 12px;
}
pre {
  font-size: 10px;
  border: none;
  padding: 0 0;
  margin: 0 0;
  background-color: transparent;
}
