@model MZ_Lab_MVC.ViewModels.AcademicsViewModel
@{
    ViewData["Title"] = "About";
}

<section>
    <div class="center-img-container">
        <img src="~/img/slice-plant3.jpg" alt="" class="center-img-object">
    </div>
</section>
<section class="academic-card-area padding-vertical-60px">
    <div class="container">

        @foreach (var year in Model.YearOfAcademicArticles)
        {
            <div class="academic-card-single-year padding-vertical-60px">
                <div class="academic-card-year-marker">
                    <div class="inline-block">
                        <div class="center-container margin-bottom-5px">
                            <h2 class="center-object">@year</h2>
                        </div>
                        <div class="margin-vertical-5px">
                            <div class="element-point"></div>
                        </div>
                        <div class="margin-top-5px">
                            <div class="element-point"></div>
                        </div>
                    </div>
                </div>
                @foreach (var academicArticle in Model.AcademicArticles)
                {
                    @if (academicArticle.PostTime.Year.ToString() == year)
                    {
                        <div class="single-academic-card margin-vertical-10px padding-vertical-60px padding-horizontal-60px">
                            <div class="single-academic-card-header margin-bottom-15px">
                                <h4 class="text-center">06<em> / Jun</em></h4>
                            </div>
                            <div class="single-academic-card-body margin-ver-5px">
                                <div class="center-img-container">
                                    <img class="center-img-object" src="~/img/img-default/default1.jpg" alt="">
                                    <img class="center-img-object" src="@(academicArticle.CoverImgUrl==""?Url.Content("~/img/img-default/default1.jpg"):academicArticle.CoverImgUrl)" alt="">
                                </div>
                            </div>
                            <div class="single-academic-card-footer margin-top-30px">
                                <big>
                                    @(academicArticle.FullDescription == ""?academicArticle.Title: academicArticle.FullDescription)
                                </big>
                            </div>
                        </div>

                        <div class="academic-card-splitter">
                            <div class="inline-block">
                                <div class="center-container margin-bottom-5px">
                                    <div class="element-point center-object"></div>
                                </div>
                                <div class="center-container margin-top-5px">
                                    <div class="element-point center-object"></div>
                                </div>
                            </div>
                        </div>

                    }

                }
            </div>
        }

    </div>
</section>
<section class="container">
    @Html.Partial("_Pager", Model.Pager)
</section>