@{
    ViewData["Title"] = "Contact";
}

<section>
    <div class="center-img-container">
        <img src="~/img/slice-plant4.jpg" alt="" class="center-img-object">
    </div>
</section>
<section class="contact-card-area padding-vertical-60px">
    <div class="container">

        <div class="contact-card margin-vertical-60px padding-vertical-60px">
            <div class="row">
                <div class="center-img-container margin-horizontal-30px">
                    <img class="center-img-object" src="~/img/google-map.jpg" alt="">
                </div>
                <h4 class="col-lg-12 margin-top-60px margin-bottom-15px text-center">宮崎研究室.</h4>
                <p class="col-lg-6 col-lg-offset-3 margin-bottom-60px padding-horizontal-30px">静岡県浜松市中区静岡大学情報学部二号館 J2402号室</p>
                <small class="col-lg-6 col-lg-offset-3 text-right padding-horizontal-30px"><i class="fa fa-phone margin-right-15px"></i>050-1010-1010</small>
                <small class="col-lg-6 col-lg-offset-3 text-right padding-horizontal-30px"><i class="fa fa-envelope margin-right-15px"></i>MiyazakiLab@xmail.com</small>
            </div>
        </div>
    </div>
</section>