@{
    ViewData["Title"] = "Home Page";
}

<section class="main-board">
    <img src="~/img/board-title.png" alt="">
    <div class="black-layer"></div>
    <video autoplay="autoplay" loop="loop" src="~/content/video-background-coding.mp4"></video>
</section>
<section class="brief-intros margin-top-60px padding-vertical-60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h2 class="padding-vertical-30px text-center">宮崎研究室へ、ようこそ。</h2></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="padding-bottom-30px">
                    <strong>静</strong>岡大学情報学部にある宮崎研究室は、「英語」と「数式」、
                    この二つのキーワードをめぐって、多種多様な研究計画を行いしております。具体的に言うと、
                    単なる数値的な計算ではなく、普段に使われている数式をどのような形式でコンピュターに保存したり、
                    特定的な数式を計算機に理解させて分析したり、計算機を利用して複雑な数式を自動的に変形させたり、
                    色々な場面を応じて研究を進んでいます。また、英論文の高頻度の用いられる英単語の抽出や、
                    英作文の教育への支援ソフトウェアなど、英語に関する研究もよくしています。
                </h4>
            </div>
        </div>
    </div>
</section>
<section class="academics-intros padding-vertical-60px">
    <div class="container">
        <div class="row academics-intros-single-subject">
            <div class="col-md-5 col-sm-12 center-container margin-bottom-15px">
                <img class="center-object img-responsive" src="~/img/math.png" alt="">
            </div>
            <div class="col-md-7 col-sm-12">
                <h3 class="margin-bottom-30px">あなたの身の回りの、その数式。</h3>
                <h4>
                    数式は，厳密な学問である数学で使われているものなので，数式そのものも厳密なものであると思われがちなのですが，実際には，1つの数式をいろいろな意味に解釈できてしまったり，
                    分野や地域によって書き方がバラバラだったりと，扱いにくい特徴を持っています。このため，数学はもちろん言語学などの観点からも数式を検討し，それを基礎にして，計算機上での効果的な数式利用を実現するためのシステムを構築しています。
                </h4>
            </div>
        </div>
        <div class="row academics-intros-single-subject">
            <div class="col-md-7 col-sm-12  margin-bottom-15px">
                <h3 class="margin-bottom-30px">英語はおしゃれな英語である。</h3>
                <h4>
                    英語支援の研究としては，非英語母語話者による技術英語支援を目的として，英語の技術文書が集積された英語技術文献コーパスの中からユーザによる入力英文に近い英文を検索することで，
                    ユーザが英作文する際に参考となるであろう英文を例示するツールを開発しております。現在，単語だけでなくチャンク（浅い句構造）を考慮して入力英文と近い英文を検索する方法を研究しております。
                </h4>
            </div>
            <div class="col-md-5 col-sm-12 center-container">
                <img class="center-object img-responsive" src="~/img/english.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="academics-example padding-vertical-60px">
    <div class="container">
        <div class="row padding-vertical-30px">
            <div class="col-lg-12 margin-bottom-15px">
                <h4 class="text-center">今までの研究の例</h4>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    コンピュータは，足し算，掛け算という簡単な計算を，速く正しく実行することは得意ですが，計算の方法をうまく工夫しなければ，計算時間を短縮できなかったり，
                    おかしな答えを出してしまったりします。つまり，コンピュータを使って計算するといっても，コンピュータにうまく計算させる方法を考えなければなりません。こ
                    のようなことを研究する分野は「数値計算」と呼ばれていて，宮崎研究室では，特に「固有値計算」「特殊関数計算」という内容に取り組んでいます。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-3 center-container padding-vertical-30px">
                <img class="center-object" src="~/img/label-paper1.png" alt="">
            </div>
            <div class="col-lg-2 center-container padding-vertical-30px">
                <img class="center-object" src="~/img/label-paper2.png" alt="">
            </div>
            <div class="col-lg-2 center-container padding-vertical-30px">
                <img class="center-object" src="~/img/label-paper3.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="lab-environnment padding-top-60px">
    <div class="container padding-top-60px">
        <div class="row">
            <div class="col-lg-12 margin-bottom-30px">
                <h3>雰囲気はどう？</h3>
            </div>
            <div class="col-lg-12 margin-bottom-30px">
                <h4>
                    「文字は準備中」、なんでも相談できる気分で、広々な研究室で、皆さんが自分の研究作業を進んでおります。そこで、たくさんのデスク、PC設備があって、皆さんの研究をサポートしています。
                    もちろん、休憩時間の解決対策として、電子レンジ、冷蔵庫、いろいろな家電製品が揃って、また、先輩たちから残していただいた遺産たち、N64とwii、かつたくさんのゲームソフトもあります。</h3>
            </div>
        </div>
    </div>
    <div class="center-img-container">
        <img src="~/img/slice-plant1.jpg" alt="" class="center-img-object">
    </div>
</section>
<section class="lab-language padding-vertical-60px">
    <div class="container">
        <div class="row padding-vertical-30px">
            <div class="col-lg-12 margin-bottom-15px">
                <h4 class="text-center">使っているプログラミング言語</h4>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    「文字は準備中」、本研究室は、各課題の理論を実行する際には、デスクトップソフトウェア、
                    ウェブアプリケーション、スマホアプリなど、いろいろな形式で試しておりますから、
                    使っているプログラミング言語もメンバーによって違います。
                    ぜひ自分なりのプログラミング言語をご自由に使ってくださいね。
                </p>
            </div>
        </div>
    </div>
    <div class="cube">
        <div class="cube-single-line-container center-container">
            <div class="cube-single-line-object center-object">
                <img class="img-lang" src="~/img/c.png" alt="">
                <img class="img-lang" src="~/img/c-plus.png" alt="">
                <img src="~/img/rect-r.png" alt="">
                <img src="~/img/rect-r.png" alt="">
            </div>
        </div>
        <div class="cube-single-line-container center-container">
            <div class="cube-single-line-object center-object">
                <img class="img-lang" src="~/img/php.png" alt="">
                <img class="img-lang" src="~/img/js.png" alt="">
                <img class="img-lang" src="~/img/swift.png" alt="">
                <img src="~/img/rect-r.png" alt="">
            </div>
        </div>
        <div class="cube-single-line-container center-container">
            <div class="cube-single-line-object center-object">
                <img src="~/img/rect-r.png" alt="">
                <img src="~/img/rect-r.png" alt="">
                <img class="img-lang" src="~/img/java.png" alt="">
                <img src="~/img/rect-r.png" alt="">
            </div>
        </div>

        <div class="cube-single-line-container center-container">
            <div class="cube-single-line-object center-object">
                <img class="img-lang" src="~/img/c-sharp.png" alt="">
                <img src="~/img/rect-r.png" alt="">
                <img src="~/img/rect-r.png" alt="">
                <img src="~/img/rect-apostrphe.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="one-sentence padding-vertical-60px">
    <h4 class="text-center">あなたの見学と加入、お待ちにしております。</h4>
</section>