.padding-top-5px {
  padding-top: 5px;
}
.padding-top-10px {
  padding-top: 10px;
}
.padding-top-15px {
  padding-top: 15px;
}
.padding-top-30px {
  padding-top: 30px;
}
.padding-top-60px {
  padding-top: 60px;
}
.padding-bottom-5px {
  padding-bottom: 5px;
}
.padding-bottom-10px {
  padding-bottom: 10px;
}
.padding-bottom-15px {
  padding-bottom: 15px;
}
.padding-bottom-30px {
  padding-bottom: 30px;
}
.padding-bottom-60px {
  padding-bottom: 60px;
}
.padding-left-5px {
  padding-left: 5px;
}
.padding-left-10px {
  padding-left: 10px;
}
.padding-left-15px {
  padding-left: 15px;
}
.padding-left-30px {
  padding-left: 30px;
}
.padding-left-60px {
  padding-left: 60px;
}
.padding-right-5px {
  padding-right: 5px;
}
.padding-right-10px {
  padding-right: 10px;
}
.padding-right-15px {
  padding-right: 15px;
}
.padding-right-30px {
  padding-right: 30px;
}
.padding-right-60px {
  padding-right: 60px;
}
.padding-vertical-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-vertical-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-vertical-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-vertical-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding-vertical-60px {
  padding-top: 60px;
  padding-bottom: 60px;
}
.padding-horizontal-5px {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-horizontal-10px {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-horizontal-15px {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-horizontal-30px {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-horizontal-60px {
  padding-left: 60px;
  padding-right: 60px;
}
.margin-top-5px {
  margin-top: 5px;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-top-15px {
  margin-top: 15px;
}
.margin-top-30px {
  margin-top: 30px;
}
.margin-top-60px {
  margin-top: 60px;
}
.margin-bottom-5px {
  margin-bottom: 5px;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.margin-bottom-15px {
  margin-bottom: 15px;
}
.margin-bottom-30px {
  margin-bottom: 30px;
}
.margin-bottom-60px {
  margin-bottom: 60px;
}
.margin-left-5px {
  margin-left: 5px;
}
.margin-left-10px {
  margin-left: 10px;
}
.margin-left-15px {
  margin-left: 15px;
}
.margin-left-30px {
  margin-left: 30px;
}
.margin-left-60px {
  margin-left: 60px;
}
.margin-right-5px {
  margin-right: 5px;
}
.margin-right-10px {
  margin-right: 10px;
}
.margin-right-15px {
  margin-right: 15px;
}
.margin-right-30px {
  margin-right: 30px;
}
.margin-right-60px {
  margin-right: 60px;
}
.margin-vertical-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-vertical-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-vertical-15px {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-vertical-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-vertical-60px {
  margin-top: 60px;
  margin-bottom: 60px;
}
.margin-horizontal-5px {
  margin-left: 5px;
  margin-right: 5px;
}
.margin-horizontal-10px {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-horizontal-15px {
  margin-left: 15px;
  margin-right: 15px;
}
.margin-horizontal-30px {
  margin-left: 30px;
  margin-right: 30px;
}
.margin-horizontal-60px {
  margin-left: 60px;
  margin-right: 60px;
}
